<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <h1 class="ml20 mt20">Previous Attempts</h1>
        <div class="row mt20" *ngIf="attempts">
            <div class="col-md-11" *ngFor="let a of attempts">
                <mat-card class="mb20">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{a.questions.quiz.category.name}}</mat-card-title>
                    <mat-card-subtitle>{{a.questions.quiz.title}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                   <button mat-raised-button color="accent" class="ml20"><h3 class="mt15">Deatil Report</h3> </button>   
                   <button mat-button color="accent"><h3 class="mt15">ATTEMPT DATE: {{a.attemptedOn | date: 'dd-MM-yyyy'}}</h3> </button>                    
                   <button mat-button color="primary"><h3 class="mt15"> | Total Attempted: {{a.totalAttempted}}</h3> </button>
                   <button mat-button color="primary"><h3 class="mt15"> | Total Correct Answer: {{a.totalCorrectAnswer}}</h3> </button>  
                   <button mat-button color="primary"><h3 class="mt15"> | Score: {{a.score}}</h3> </button> 
                   <div mat-card-avatar class="result"></div>
                </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>