<div class="bootstrap-wrapper" *ngIf="!isSubmit">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <mat-card class="mt70 mb20">
                    <mat-card-content>
                        <h3 class="text-center"><b>Instructions</b></h3>
                        <ul>
                            <li>Do not refresh the page otherwise you will get new questions and answer will be deleted</li>
                            <li>Do not Switch the tab we are tracking it.</li>
                            <li>Do not minimize the tab</li>
                        </ul>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-8">
                <ng-container *ngIf="questions">
                    <h1>On Going Quiz <b>{{questions[0].quiz.title}}</b></h1>
                </ng-container>
                <mat-card *ngFor="let q of questions; let i=index" class="mt20">
                    <mat-card-content>
                        <p>Q{{i+1}}-> <span [innerHTML]="q.content"></span></p>
                        <mat-divider></mat-divider>
                        <div class="row mt10">
                            <div class="col-md-6">
                                <input type="radio"[value]="q.option1" [name]="i.toString()" [(ngModel)]="q.selectedAnswer"/>{{q.option1}}
                            </div>
                            <div class="col-md-6">
                                <input type="radio"[value]="q.option2" [name]="i.toString()" [(ngModel)]="q.selectedAnswer"/>{{q.option2}}
                            </div>
                        </div>
                        <div class="row mt10">
                            <div class="col-md-6">
                                <input type="radio"[value]="q.option3" [name]="i.toString()" [(ngModel)]="q.selectedAnswer"/>{{q.option3}}
                            </div>
                            <div class="col-md-6">
                                <input type="radio"[value]="q.option4" [name]="i.toString()" [(ngModel)]="q.selectedAnswer"/>{{q.option4}}
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
                <div class="container text-center mt20 mb20">
                    <button mat-raised-button color="warn" (click)="submitQuiz()">Submit</button>
                </div>
            </div>
            <div class="col-md-2">
                <!-- progress -->
                <mat-card class="mt70">
                    <mat-card-header>
                        <mat-card-title class="text-center"> Your Progress </mat-card-title>
                        <mat-card-subtitle class="text-center"> 
                            Quiz will be automatically submitted once timers end
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>

                        <mat-spinner class="autoM" 
                        color="warn" mode="determinate" [value]="(timer/ (this.questions.length * 2 * 60)) *100">
                        </mat-spinner>
                        <h1 class="text-center">{{getFormattedTime()}}</h1>

                    </mat-card-content>
                </mat-card>

            </div>
        </div>
        </div>
</div>

<!-- show the result -->
<div class="bootstrap-wrapper" *ngIf="isSubmit">
    <div class="row mt20">
        <div class="col-md-6 offset-md-3">
            <mat-card>
                <mat-card-header>
                    <mat-card-title class="text-center">
                        Quiz Result
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-center">
                    <h1>Marks Got : {{totalMarks}}</h1>
                    <h1>Correct Answers : {{correctAnswer}}</h1>
                    <h1>Number Of Atempts : {{attempted}}</h1>
                </mat-card-content>
                <mat-card-actions>
                    <div class="container text-center">
                        <button (click)="printPage()" mat-raised-button color="primary" class="mr20">Print</button>
                        <button mat-raised-button color="accent" [routerLink]="'/user-dashboard/0'" >Home</button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>